/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* TIPOGRAPHY */
header {
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/* GRID LAYOUT */
.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    background-color: grey;
    min-height: 30px;
}

/* HEADER */

header{
    background-color:#FF6900;
    box-shadow: 0 0 5px 0 #B38E74;
    display: flex;
    margin-bottom: 40px;
}

header .container{
    max-width: 1200px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: transparent;
}

header .menu {
     width: 20%;
 }

header .icons{
     width: 30%;
     justify-content: flex-end;
     display: flex;
 }

 .icons span {
    padding: 0 4px;
 }

header .logo{
   display: flex;
   justify-content: center;
   width: 40%;
  }

.logo img{
     max-width:30%;
     text-align: center;
 }

header .menu{
    display: flex;
    flex-grow: 1;
    width:30% ;
}

.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
    padding: 0 4px;
} 

/* MAIN */
