/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* TIPOGRAPHY */
header {
    color: white;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: white;
}


.description .brand, .description .price, .description .oldprice{
    font-size: 14px;
}


.description .product{
    font-size: 14px;
    font-weight:bold;
}

.description .price{
    color:#FF0000;
    font-weight: bold;
    display: inline-block;
}

.description .oldprice{
    text-decoration: line-through;
}


/* GRID LAYOUT */
.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    min-height: 30px;
    border: 1px dashed black;
}

/* HEADER */

header{
    background-color:#FF6900;
    box-shadow: 0 0 5px 0 #B38E74;
    display: flex;
    margin-bottom: 40px;
}

header .container{
    max-width: 1200px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: transparent;
}

header .menu {
     width: 20%;
 }

header .icons{
     width: 30%;
     justify-content: flex-end;
     display: flex;
 }

 .icons span {
    padding: 0 4px;
 }

header .logo{
   display: flex;
   justify-content: center;
   width: 40%;
  }

.logo img{
     max-width:30%;
     text-align: center;
 }

header .menu{
    display: flex;
    flex-grow: 1;
    width:30% ;
}

.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
    padding: 0 4px;
} 

/* MAIN */

.row{
    display: flex;
    flex: wrap;
    width: 100%;
}

.col-33{
    width: calc(100% / 3);
/*     display: flex;
 */}

.col-33left{
    padding-right: 8px;
}

.col-33center{
    padding-left: 8px;
    padding-right: 8px;
}

.col-33right {
    padding-left: 8px;
}

.col-33 img{
    width: 100%;
}



/* .card{
    position: relative;
}  */

